.allGCCont {
	height: 100%;
    margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.gameCreatorContainer {
	width: 650px;
	height: 500px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 0px;
    border-radius: 12px;
    border: 3px solid #bc80ea;
    color: whitesmoke;
}
.gameCreatorContainer:hover{
    border: 3px solid #d296ff;
}

.tituloGameC{
    color: #bc80ea;
    font-size: 40px;
}

.formDiv{
    padding: 5px;
}

.formInput{
    color: #bc80ea;
    height: 22px;
    padding: 5px;
    background-color: transparent;
    border-right: none;
    border-bottom: 1px solid #bc80ea;
    outline: none;
    border-top: none;
    border-left: none;
}

.submitBtn{
    box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
    width: 300px;
    margin-top: 10px;

}

.submitBtn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}

.genresSelected{
    display: flex;
    flex-direction:column;

}

@media only screen and (max-width: 768px) {
   .gameCreatorContainer {
	width: 650px;
	height: 600px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
    border-radius: 12px;
    border: 3px solid #bc80ea;
    color: whitesmoke;
    }
    .formDiv{
        padding: 10px;
    }
    .submitBtn{
        box-shadow:inset 0px 1px 0px 0px #efdcfb;
        background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
        background-color:#dfbdfa;
        border-radius:12px;
        border:1px solid #c584f3;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #9752cc;
        width: 350px;
        margin-top: 30px;
    
    }
    
    .submitBtn:hover {
        background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
        background-color:#bc80ea;
    }
   
    
  }
 
  
  