.footerContainer{
    background-color: black;
    height: 60px;
    width: 98%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;

}

.footerText{
    background-color: black;
    color: #9752cc;
}

.iconLinks{
    
    padding: 5px;
    text-decoration: none;
    color: #fff;
}