.searchbarContainer{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5px;
}

.searcher{
    padding: 10px;
    width: 20%;
    margin-right: 10px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d874ff;
    outline: none;
    color: #d874ff;
    font-size: 16px;
}

.searchBtn{
    background-color: #d874ff;
    border-radius: 12px;
    border: none;
    color: white;
}
.searchBtn:hover{
    background-color: #c73aff;
}

.searchBtn {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.searchBtn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.searchBtn:active {
	position:relative;
	top:1px;
}


@media only screen and (max-width: 768px) {
    .searchBtn {
      width: 80px;
      height: 30px;
      font-size: 12px;
      padding: 3px 10px;
    }
    .searcher {
        width: 55%;
        padding: 0;
      }
  }
  